<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
<table>
  <thead>
  <tr>
    <th>Friend's Name</th>
    <th>Friend's postalcode</th>

    <th colspan="3"></th>
  </tr>
  </thead>


  
  <tbody>
  <% @friends.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.postalcode %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
